{% extends "@ChillPerson/Person/layout.html.twig"  %}

{% set person = entity.person %}
{% set activeRouteKey = '' %}

{% block title %}
{% embed('@ChillPerson/CRUD/_new_title.html.twig') %}{% endembed %}
{% endblock %}

{% block content %}
{% embed '@ChillMain/CRUD/_new_content.html.twig' %}
    {% block crud_content_header %}
        <h1>{{ ('crud.'~crud_name~'.title_new')|trans({'%person%': person|chill_entity_render_string }) }}</h1>
    {% endblock crud_content_header %}
    {% block content_form_actions_back %}
        <li class="cancel">
            <a class="btn btn-cancel" href="{{ chill_return_path_or('chill_job_report_index', {'person': entity.person.id}) }}">
                {{ 'Cancel'|trans }}
            </a>
        </li>
    {% endblock %}
{% endembed %}
{% endblock %}
