{% extends "@ChillPerson/Person/layout.html.twig"  %}

{% set person = entity.getPerson() %}

{% set activeRouteKey = '' %}
{% set accompagnements = constant('Chill\\JobBundle\\Entity\\CSPerson::ACCOMPAGNEMENTS') %}


{% import '@ChillDocStore/Macro/macro.html.twig' as doc %}

{% block title 'Dispositifs d\'accompagnement de %name%'|trans( { '%name%': person.firstName ~ ' ' ~ person.lastName } ) %}

{% block content %}
    <h1>{{ 'Dispositifs d\'accompagnement  de %name%'|trans( { '%name%': person.firstName ~ ' ' ~ person.lastName } ) }}</h1>

    <h2>Accompagnement</h2>

    <dl class="chill_view_data">

        <dt>Accompagnements</dt>
        {% if entity.accompagnement is null or entity.accompagnement|length == 0 %}
            <dd>{{ null|chill_print_or_message }}</dd>
        {% else %}
        <dd>
            <ul>
            {% for e in accompagnements %}
                {% if e in entity.accompagnement %}
                    {% if e == 'autre' %}
                        <li>Autre: <br/>{{ entity.accompagnementComment|chill_print_or_message(null, 'blockquote') }}</li>
                    {% elseif e == 'rqth' %}
                        <li>{{ ('accompagnement.' ~ e)|trans }} - <strong>Date de l'accompagnement:</strong> {{ entity.accompagnementRQTHDate|chill_print_or_message }}</li>
                    {% else %}
                        <li>{{ ('accompagnement.' ~ e)|trans }}</li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </ul>
        </dd>
        {% endif %}

        <dt>Prescripteur</dt>

        {% if entity.prescripteur is not null %}
            <dd>{{ entity.prescripteur|chill_entity_render_box({'with_valid_from': false}) }}</dd>
        {% else %}
            <dd>{{ null|chill_print_or_message }}</dd>
        {% endif %}

        <dt>Notes</dt>
        <dd>{{ entity.dispositifsNotes|chill_print_or_message("Aucune note", 'blockquote') }}</dd>
    </dl>

    <h2>Pôle emploi</h2>

    <dl class="chill_view_data">
        <dt>Identifiant pôle emploi</dt>
        <dd>{{ entity.poleEmploiId|chill_print_or_message }}</dd>

        <dt>Date d'inscription pôle emploi</dt>
        <dd>{{ entity.poleEmploiInscriptionDate|chill_print_or_message }}</dd>

    </dl>

    <h2>CAF</h2>

    <dl class="chill_view_data">
        <dt>Identifiant CAF</dt>
        <dd>{{ entity.cafId|chill_print_or_message }}</dd>

        <dt>Date d'inscription CAF</dt>
        <dd>{{ entity.cafInscriptionDate|chill_print_or_message }}</dd>

    </dl>

    <h2>Autres informations</h2>

    <dl class="chill_view_data">
        {% for item in [
            ['cERInscriptionDate', 'Date CER'],
            ['cERSignataire', 'Signataire CER'],
            ['pPAEInscriptionDate', 'Date PPAE'],
            ['pPAESignataire', 'Signataire PPAE'],
        ] %}
        <dt>{{ item[1] }}</dt>
        <dd>{{ attribute(entity, item[0])|chill_print_or_message }}</dd>
        {% endfor %}

            <dt>Éligibilite NEET</dt>
            <dd>
                {% if entity.nEETEligibilite is null %}
                {{ null|chill_print_or_message }}
                {% elseif entity.nEETEligibilite == 'oui' %}
                    Oui <strong>Date de commission :</strong> {{ entity.nEETCommissionDate|chill_print_or_message }}
                {% elseif entity.nEETEligibilite == 'non' %}
                    Non
                {% else %}
                    {{ ('neet_eligibility.' ~ entity.nEETEligibilite)|trans }}
                {% endif %}
            </dd>

            <dt>Code "Ma démarche FSE"</dt>
            <dd>{{ entity.fSEMaDemarcheCode|chill_print_or_message }}</dd>

            {% if entity.dateContratIEJ != null or entity.dateAvenantIEJ != null %}
            <dt>IEJ</dt>
            <dd>
                {% if entity.dateContratIEJ != null %}
                <p>Date du contrat IEJ&nbsp;: {{ entity.dateContratIEJ|format_date('short') }}</p>
                {% endif %}
                {% if entity.dateAvenantIEJ != null %}
                <p>Date de l'avenant IEJ&nbsp;: {{ entity.dateAvenantIEJ|format_date('short') }}</p>
                {% endif %}
            </dd>
            {% endif %}
    </dl>


    <ul class="record_actions sticky-form-buttons">
        <li>
            <a class="btn btn-update" href="{{ path('chill_crud_job_dispositifs_edit', { 'id': entity.person.id }) }}">Modifier</a>
        </li>
    </ul>

{% endblock content %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('build/thirdparty_styles.css') }}"/>
{% endblock %}
