{% extends "@ChillPerson/Person/layout.html.twig"  %}

{% set person = entity.getPerson() %}

{% set activeRouteKey = '' %}
{% set niveaux_maitrise_langue = constant('Chill\\JobBundle\\Entity\\CSPerson::NIVEAU_MAITRISE_LANGUE') %}
{% set permis_conduire = constant('Chill\\JobBundle\\Entity\\CSPerson::PERMIS_CONDUIRE') %}
{% set types_contrat = constant('Chill\\JobBundle\\Entity\\CSPerson::TYPE_CONTRAT') %}
{% set ressources = constant('Chill\\JobBundle\\Entity\\CSPerson::RESSOURCES') %}

{% import '@ChillDocStore/Macro/macro.html.twig' as doc %}

{% block title 'Situation personnelle de %name%'|trans( { '%name%': person.firstName ~ ' ' ~ person.lastName } ) %}

{% block content %}
    <h1>{{ 'Situation personnelle de %name%'|trans( { '%name%': person.firstName ~ ' ' ~ person.lastName } ) }}</h1>

        <h2>Logement</h2>

        <dl class="chill_view_data">

            <dt>Situation de logement</dt>
            {% if entity.situationLogement is not null %}
                <dd>{{ ('situation_logement.' ~ entity.situationLogement)|trans }}</dd>
            {% else %}
                <dd>{{ null|chill_print_or_message("Aucune information") }}</dd>
            {% endif %}

        </dl>

        <h2>Situation familiale</h2>

        <dl class="chill_view_data">

            <dt>Enfants à charge</dt>
            {% if entity.enfantACharge is not null %}
                <dd>
                    {% if entity.enfantACharge == 0 %}Aucun enfant{% elseif entity.enfantACharge == 1 %}Un enfant{% else %}{{ entity.enfantACharge }} enfants{% endif %} à charge</dd>
            {% else %}
                <dd>{{ null|chill_print_or_message }}</dd>
            {% endif %}

            <dt>{{'Marital status'|trans}}&nbsp;:</dt>
            <dd>
                {% if entity.person.maritalStatus is not null %}
                    {{ entity.person.maritalStatus.name|localize_translatable_string }}
                {% else %}
                    <span class="chill-no-data-statement">{{ 'No data given'|trans }}</span>
                {% endif %}
            </dd>

        </dl>

        <h2>Maitrise de la langue</h2>

        <dl class="chill_view_data">

            <dt>Niveau de maitrise de la langue française</dt>
            {% if entity.niveauMaitriseLangue is null or entity.niveauMaitriseLangue|length == 0 %}
                <dd>{{ null|chill_print_or_message }}</dd>
            {% else %}
            <dd>
                <ul>
                {% for niveau in niveaux_maitrise_langue %}
                    {% if niveau in entity.niveauMaitriseLangue %}
                    <li>{{ ('niveau_maitrise_langue.' ~ niveau)|trans }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </dd>
            {% endif %}
        </dl>

        <h2>Mobilité</h2>


        <dl class="chill_view_data">

            <dt>Moyens de transports accessibles</dt>
            <dd>
                {% if entity.mobiliteMoyenDeTransport is null or entity.mobiliteMoyenDeTransport|length == 0 %}
                    {{ null|chill_print_or_message("Aucun moyen de transport renseigné") }}
                {% else %}
                    <ul>
                    {% for e in entity.mobiliteMoyenDeTransport %}
                        <li>{{ ('moyen_transport.' ~ e)|trans }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </dd>

            <dt>Véhicule Personnel</dt>
            {% if entity.vehiculePersonnel is null %}
                <dd>{{ null|chill_print_or_message }}</dd>
            {% elseif entity.vehiculePersonnel == true %}
                <dd>A un véhicule personnel</dd>
            {% else %}
                <dd>N'a pas de véhicule personnel</dd>
            {% endif %}

            <dt>Permis de conduire</dt>
            {% if entity.permisConduire is null or entity.permisConduire|length == 0 %}
                <dd>{{ null|chill_print_or_message }}</dd>
            {% else %}
            <dd>
                <ul>
                {% for e in permis_conduire %}
                    {% if e in entity.permisConduire %}
                    <li>{{ ('permis_conduire.' ~ e)|trans }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </dd>
            {% endif %}

            <dt>Notes concernant la mobilité</dt>
            <dd>
                {{ entity.mobiliteNotes|chill_print_or_message("Aucune note", 'blockquote') }}
            </dd>
        </dl>

        <h2>Situation professionnelle et économique</h2>

        <dl class="chill_view_data">

            <dt>Situation professionnelle</dt>
            {% if entity.situationProfessionnelle is not null %}
                <dd>{{ ('situation_professionnelle.' ~ entity.situationProfessionnelle)|trans }}</dd>
            {% else %}
                <dd>{{ null|chill_print_or_message }}</dd>
            {% endif %}

            <dt>Date de fin du dernier emploi</dt>
            {% if entity.dateFinDernierEmploi is not null %}
                <dd>{{ entity.dateFinDernierEmploi|format_date('short') }}
            {% else %}
                <dd>{{ null|chill_print_or_message }}</dd>
            {% endif %}

            {% if entity.situationProfessionnelle == 'en_activite' %}
                <dt>Type de contrat</dt>
                {% if entity.typeContrat is null or entity.typeContrat|length == 0 %}
                    <dd>{{ null|chill_print_or_message }}</dd>
                {% else %}
                <dd>
                    <ul>
                    {% for e in types_contrat %}
                        {% if e in entity.typeContrat %}
                        <li>{{ ('type_contrat.' ~ e)|trans }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </dd>
                {% endif %}
            {% endif %}

            <dt>Ressources</dt>
            {% if entity.ressources is null or entity.ressources|length == 0 %}
                <dd>{{ null|chill_print_or_message }}</dd>
            {% else %}
            <dd>
                <ul>
                {% for e in ressources %}
                    {% if e in entity.ressources %}
                        {% if e == 'autre' %}
                            <li>Autre: {{ entity.ressourcesComment|chill_print_or_message }}</li>
                        {% else %}
                            <li>{{ ('ressource.' ~ e)|trans }}</li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </ul>
            </dd>
            {% endif %}

            <dt>Date du premier versement</dt>
            {% if entity.ressourceDate1Versement is not null %}
                <dd>{{ entity.ressourceDate1Versement|format_date('short') }}
            {% else %}
                <dd>{{ null|chill_print_or_message }}</dd>
            {% endif %}

        <dt>Montant CPF</dt>
        {% if entity.cPFMontant is not null %}
            <dd>{{ entity.cPFMontant|format_currency('EUR') }}</dd>
        {% else %}
            <dd>{{ null|chill_print_or_message }}</dd>
        {% endif %}


        <dt>Montant acompte DIF</dt>
        {% if entity.acompteDIF is not null %}
            <dd>{{ entity.acompteDIF|format_currency('EUR') }}</dd>
        {% else %}
            <dd>{{ null|chill_print_or_message }}</dd>
        {% endif %}

        </dl>

        <h2>Handicap</h2>

        <dl class="chill_view_data">
            <dt>Handicap ?</dt>
            <dd>
                {% if entity.handicapIs is null %}
                    {{ null|chill_print_or_message }}
                {% elseif entity.handicapIs %}
                    Oui<br/>
                    <br/>
                    <strong>Type de handicap</strong>&nbsp;: {{ entity.handicapNotes|chill_print_or_message("Aucune précision", 'blockquote') }}
                {% else %}
                    Non
                {% endif %}
            </dd>

            {% if entity.handicapIs %}
                <dt>Recommandation</dt>
                <dd>
                    {% if entity.handicapRecommandation is null %}
                        {{ null|chill_print_or_message("Aucune recommandation renseignée") }}
                    {% else %}
                        {{ ('handicap_recommandation.' ~ entity.handicapRecommandation)|trans }}
                    {% endif %}
                </dd>

                <dt>Accompagnement</dt>
                {% if entity.handicapAccompagnement is not null %}
                    <dd>{{ entity.handicapAccompagnement.name }}</dd>
                {% else %}
                    <dd>{{ null|chill_print_or_message }}</dd>
                {% endif %}
            {% endif %}
        </dl>

        <h2>Documents</h2>

        <dl class="chill_view_data">

        {% for r in [
            ['documentCV', 'CV'],
            ['documentAgrementIAE', 'Document Agrément AIE'],
            ['documentRQTH', 'Document RQTH'],
            ['documentAttestationNEET', 'Attestation NEET'],
            ['documentCI', "Carte d'identité"],
            ['documentTitreSejour', 'Titre de séjour'],
            ['documentAttestationFiscale', 'Attestation fiscale'],
            ['documentPermis', 'Permis'],
            ['documentAttestationCAAF', 'Attestation CAAF'],
            ['documentContraTravail', 'Contrat de travail'],
            ['documentAttestationFormation', 'Attestation formation'],
            ['documentQuittanceLoyer', 'Quittance de loyer'],
            ['documentFactureElectricite', "Facture d'électricité"],
            ['documentAttestationSecuriteSociale', "Attestation sécurité sociale"],
        ] %}

        <dt>{{ r[1] }}</dt>
        {% set d = attribute(entity, r[0]) %}
        {% if d is null %}
            <dd>{{ null|chill_print_or_message("Aucun document") }}</dd>
        {% else %}
            {% set title =  person.lastname ~ ' ' ~ person.firstname ~ ', ' ~ r[1]|replace({"Document ": ""}) %}
            <dd>{{ d|chill_document_button_group(title, is_granted('CHILL_PERSON_UPDATE', person), {small: true}) }}</dd>
        {% endif %}

        {% endfor %}

        </dl>


    <ul class="record_actions sticky-form-buttons">
        <li><a class="btn btn-update" href="{{ path('chill_crud_job_personal_situation_edit', { 'id': entity.person.id }) }}">Modifier</a></li>
    </ul>
{% endblock %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('mod_async_upload') }}
    {{ encore_entry_script_tags('mod_document_action_buttons_group') }}
{% endblock css %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('mod_async_upload') }}
    {{ encore_entry_link_tags('mod_document_action_buttons_group') }}
{% endblock js %}
