{% block stored_object_widget %}
    {% if form.title is defined %} {{ form_row(form.title) }} {% endif %}
    <div
        data-stored-object="data-stored-object">
        {{ form_widget(form.stored_object, { 'attr': { 'data-stored-object': 1 } }) }}
    </div>
{% endblock %}
