<div>
  <h3 class="single-line">
    {{ period.openingDate|format_date('long')  }}
    <span class="person"> / </span>
    {{ 'An accompanying period starts'|trans }}
    {% if 'person' != context %}
      {% for p in period.persons %}
        / {{ p|chill_entity_render_box({'addLink': true}) }}
      {% endfor %}
    {% endif %}
  </h3>

  <div class="statement">
    <dl class="chill_view_data">
      <dd>{{ 'Participants'|trans }}&nbsp;:</dd>
      <dt>
      <ul>
        {% for p in period.participations %}
        <li>{{ 'Since %date%'|trans( {'%date%': p.startDate|format_date("long") } ) }}&nbsp;: {{ p.person|chill_entity_render_box({ 'addLink': true }) }}</li>
        {% endfor %}
      </ul>
      </dt>
  </div>
</div>
