{% extends '@ChillMain/layout.html.twig' %}

{% set person = entity.person %}
{% set activeRouteKey = '' %}

{% block content %}
{% embed '@ChillMain/CRUD/_delete_content.html.twig' %}
    {% block content_form_actions_back %}
        <li class="cancel">
            <a class="btn btn-cancel" href="{{ chill_return_path_or('chill_job_report_index', {'person': entity.person.id}) }}">
                {{ 'Cancel'|trans }}
            </a>
        </li>
    {% endblock %}
{% endembed %}
{% endblock %}
