<template>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <slot name="thead" />
            </tr>
        </thead>
        <tbody>
            <slot name="tbody" />
        </tbody>
    </table>
</template>

<script>
export default {
    name: "TabTable",
    props: [],
};
</script>

<style scoped></style>
