<template>
    <concerned-groups v-if="hasPerson" />
    <social-issues-acc v-if="hasSocialIssues" />
    <location v-if="hasLocation" />
</template>

<script>
import ConcernedGroups from "./components/ConcernedGroups.vue";
import SocialIssuesAcc from "./components/SocialIssuesAcc.vue";
import Location from "./components/Location.vue";

export default {
    name: "App",
    props: ["hasSocialIssues", "hasLocation", "hasPerson"],
    components: {
        ConcernedGroups,
        SocialIssuesAcc,
        Location,
    },
};
</script>
