{% extends '@ChillMain/layout.html.twig' %}

{% set activeRouteKey = '' %}

{% block title %}
	{% include('@ChillMain/CRUD/_view_title.html.twig') %}
{% endblock %}

{% block content %}
	{% embed '@ChillMain/CRUD/_view_content.html.twig' %}
		{% block crud_content_header %}
			<h1>{{ ('crud.' ~ crud_name ~ '.title_view')|trans }}</h1>
		{% endblock crud_content_header %}
		{% block crud_content_view_details %}
			<dl class="chill_view_data">

				<dt class="inline">{{ 'Type'|trans }}</dt>
				<dd>{{ entity.type|chill_entity_render_box }}</dd>

				<dt class="inline">{{ 'Created by'|trans }}</dt>
				<dd>{{ entity.createdBy|chill_entity_render_box({'at_date': entity.date}) }}</dd>

				<dt class="inline">{{ 'Created for'|trans }}</dt>
				<dd>{{ entity.agent|chill_entity_render_box({'at_date': entity.date}) }}</dd>

                <dt class="inline">{{ 'Asideactivity location'|trans }}</dt>
                {%- if entity.location.name is defined -%}
                    <dd>{{ entity.location.name }}</dd>
                {%- else -%}
                    <dd><span class="chill-no-data-statement">{{ 'No data given'|trans }}</span></dd>
                {%- endif -%}

				<h2 class="chill-red">{{ 'Activity data'|trans }}</h2>

				<dt class="inline">{{ 'Date'|trans }}</dt>
				<dd>{{ entity.date|format_date('long') }}</dd>

				<dt class="inline">{{ 'Duration'|trans }}</dt>
				<dd>{{ entity.duration|date('H:i') }}</dd>

				<dt class="inline">{{ 'Remark'|trans }}</dt>
				{%- if entity.note is empty -%}
					<dd>
						<span class="chill-no-data-statement">{{ 'No comments'|trans }}</span>
					</dd>
				{%- else -%}
					<dd>
						<section class="chill-entity entity-comment-embeddable">
							<blockquote class="chill-user-quote">
								<p>{{ entity.note }}</p>
							</blockquote>
						</section>
					</dd>
				{%- endif -%}
			</dl>

		{% endblock %}
	{% endembed %}
{% endblock %}
