{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 * 
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "@ChillMain/Export/layout.html.twig"  %}

{% set activeRouteKey = 'report_export_list' %}

{% block title %}{{ 'Reports export'|trans() }}{% endblock title %}

{% block export_content %}

{{ form_start(form) }}
    {{ form_widget(form.cFGroup) }}
    <button class="btn btn-chill-green" type="submit">
        <i class="fa fa-upload"></i>
        {{ 'Export this kind of reports'|trans }}
    </button>
{{ form_end(form) }}
 
{% endblock %}
