{#
 * Copyright (C) 2018, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "@ChillPerson/Person/layout.html.twig"  %}

{% set activeRouteKey = '' %}

{% block title %}{{ 'Editing document for %name%'|trans({ '%name%': person|chill_entity_render_string } ) }}{% endblock %}
{% block content %}
    <h1>{{ 'Edit Document' | trans }}</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.date) }}
    {{ form_row(form.category) }}
    {% if form.scope is defined %}
        {{ form_row(form.scope) }}
    {% endif %}
    {{ form_row(form.description) }}
    {{ form_row(form.object, { 'label': 'Document', 'existing': document.object }) }}

    <ul class="record_actions sticky-form-buttons">
        <li class="cancel">
            <a href="{{ chill_return_path_or('chill_docstore_generic-doc_by-person_index', {'id': person.id}) }}" class="btn btn-cancel">
                {{ 'Back to the list' | trans }}
            </a>
        </li>
        {% if is_granted('CHILL_PERSON_DOCUMENT_DELETE', document) %}
            <li class="delete">
                <a href="{{ chill_return_path_or('chill_docstore_person_document_delete', {'person': person.id, 'id': document.id}) }}" class="btn btn-delete"></a>
            </li>
        {% endif %}
        <li class="edit">
            <button class="btn btn-edit">{{ 'Edit'|trans }}</button>
        </li>
    </ul>

    {{ form_end(form) }}


{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('mod_async_upload') }}
{% endblock %}

{% block css %}
    {{ encore_entry_link_tags('mod_async_upload') }}
{% endblock %}
