{% extends "@ChillPerson/Person/layout.html.twig"  %}

{% set person = entity.person %}
{% set activeRouteKey = '' %}

{% block css %}
    {{ encore_entry_link_tags('mod_pickentity_type') }}
{% endblock %}

{% block title %}
{% include('@ChillMain/CRUD/_edit_title.html.twig') %}
{% endblock title %}

{% block content %}
{% embed '@ChillMain/CRUD/_edit_content.html.twig' %}
    {% block content_form_actions_back %}
        <li class="cancel">
            <a class="btn btn-cancel" href="{{ chill_return_path_or('chill_job_report_index', {'person': entity.person.id}) }}">
                {{ 'Cancel'|trans }}
            </a>
        </li>
    {% endblock %}

    {% block crud_content_form_rows %}
        {{ form_row(form.entreprise) }}
        {{ form_row(form.domaineActivite) }}

        <h2>Tuteur</h2>

        {{ form_row(form.tuteurName) }}
        {{ form_row(form.tuteurFonction) }}
        {{ form_row(form.tuteurPhoneNumber) }}

        <h2>Structure d'accompagnement</h2>

        {{ form_row(form.structureAccName) }}
        {{ form_row(form.structureAccPhonenumber) }}
        {{ form_row(form.structureAccEmail) }}
        {{ form_widget(form.structureAccAddress) }}

        <h2>Descriptif du poste occupé</h2>

        {{ form_row(form.posteTitle) }}
        {{ form_row(form.posteLieu) }}
        {{ form_row(form.debutDate) }}
        {{ form_row(form.duration) }}
        {{ form_row(form.horaire) }}

        <h2>Objectifs</h2>

        <div id="objectifs">
        {{ form_widget(form.objectifs) }}
        </div>

        <div id="objectifsAutre">
        {{ form_row(form.objectifsAutre) }}
        </div>

        <h2>Notes</h2>

        {{ form_widget(form.noteImmersion) }}

    {% endblock %}
{% endembed %}
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('mod_pickentity_type') }}
    <script type="text/javascript" src="{{ asset('build/immersion_edit.js') }}"></script>
{% endblock %}
