{% extends "@ChillPerson/Person/layout.html.twig"  %}

{% set person = entity.person %}
{% set activeRouteKey = '' %}

{% block title %}
Bilan d'immersion
{% endblock title %}

{% block content %}
{% embed '@ChillMain/CRUD/_edit_content.html.twig' %}
    {% block crud_content_header %}
        <h1>Bilan d'immersion</h1>
    {% endblock crud_content_header %}

    {% block content_form_actions_back %}
        <li class="cancel">
            <a class="btn btn-cancel" href="{{ chill_return_path_or('chill_job_report_index', {'person': entity.person.id}) }}">
                {{ 'Cancel'|trans }}
            </a>
        </li>
    {% endblock %}

    {% block crud_content_form_rows %}
        <p>
            Immersion du {{ entity.debutDate|format_date('long') }} au {{ entity.getDateEndComputed|format_date('long') }},
            auprès de <pre>{{ entity.entreprise.name }}</pre>
            Domaine d'activité: {{ entity.domaineActivite }}
            <br/><br/>
            <a class="btn btn-edit" href={{ path('chill_crud_immersion_edit', {'id': entity.id}) }}>Modifier</a>
        </p>

        <h2>Savoir-être du jeune</h2>

        {{ form_widget(form.savoirEtre) }}

        {{ form_row(form.savoirEtreNote) }}

        <h3>Ponctualité</h3>

        {{ form_row(form.ponctualiteSalarie) }}
        {{ form_row(form.ponctualiteSalarieNote) }}

        <h3>Assiduité</h3>
        {{ form_row(form.assiduite) }}
        {{ form_row(form.assiduiteNote) }}

        <h3>Intégration</h3>
        {{ form_row(form.interetActivite) }}
        {{ form_row(form.interetActiviteNote) }}

        {{ form_row(form.integreRegle) }}
        {{ form_row(form.integreRegleNote) }}

        <h3>Autonomie</h3>
        {{ form_row(form.espritInitiative) }}
        {{ form_row(form.espritInitiativeNote) }}

        {{ form_row(form.organisation) }}
        {{ form_row(form.organisationNote) }}

        <h3>Attitude</h3>
        {{ form_row(form.capaciteTravailEquipe) }}
        {{ form_row(form.capaciteTravailEquipeNote) }}

        <h3>Posture professionnelle</h3>
        {{ form_row(form.styleVestimentaire) }}
        {{ form_row(form.styleVestimentaireNote) }}

        {{ form_row(form.langageProf) }}
        {{ form_row(form.langageProfNote) }}

        <h3>Relation avec la hiérarchie</h3>
        {{ form_row(form.appliqueConsigne) }}
        {{ form_row(form.appliqueConsigneNote) }}

        {{ form_row(form.respectHierarchie) }}
        {{ form_row(form.respectHierarchieNote) }}

        <h2>Savoir-faire développés</h2>

        {{ form_row(form.principalesActivites) }}
        {{ form_row(form.competencesAcquises) }}
        {{ form_row(form.competencesADevelopper) }}

        <h2>Notes</h2>

        {{ form_widget(form.noteBilan) }}

    {% endblock %}
{% endembed %}
{% endblock %}
