{% extends '@ChillPerson/CRUD/view.html.twig' %}

{% block content %}
{% embed '@ChillPerson/CRUD/_view_content.html.twig' %}
    {% block crud_content_header %}
        <h1>{{ ('crud.' ~ crud_name ~ '.title_view')|trans({'%person%': person|chill_entity_render_string }) }}</h1>
    {% endblock crud_content_header %}

    {% block crud_content_view_details %}
{#        {% import 'ChillMainBundle:Address:macro.html.twig' as macro_address %}#}

        <dl class="chill_view_data">
            <h2>Entreprise</h2>

            <dt>Entreprise</dt>
            <dd>{{ entity.entreprise|chill_entity_render_box({'with_valid_from': false}) }}</dd>

            <dt>Domaine d'activité</dt>
            <dd>{{ entity.domaineActivite }}</dd>

            <h2>Tuteur</h2>

            <dt>Nom du tuteur</dt>
            <dd>{{ entity.tuteurName }}</dd>

            <dt>Fonction du tuteur</dt>
            <dd>{{ entity.tuteurFonction }}</dd>

            {% if entity.tuteurPhoneNumber is not empty %}
            <dt>Téléphone du tuteur</dt>
            <dd>
                <p>{{ entity.tuteurPhoneNumber|chill_format_phonenumber }}</p>
            </dd>
            {% endif %}

            <h2>Structure d'accompagnement</h2>

            <dt>Nom de la structure</dt>
            <dd>{{ entity.structureAccName }}</dd>

            <dt>Addresse mail de la structure</dt>
            <dd>{{ entity.structureAccEmail }}</dd>

            {% if entity.structureAccPhonenumber is not empty %}
                <dt>Téléphone de la structure</dt>
                <dd>
                    <p>{{ entity.structureAccPhonenumber|chill_format_phonenumber }}</p>
                </dd>
            {% endif %}

{#            <dd>#}
{#                {% for el in ['structureAccName', 'structureAccPhonenumber', 'structureAccEmail'] %}#}
{#                {% set el_data = attribute(entity, el) %}#}
{#                {% if el_data is not empty %}{{ el_data }}<br/>{% endif %}#}
{#                {% endfor %}#}
{#                {% if entity.structureAccAddress is not empty %}#}
{#                {{ macro_address._render(entity.structureAccAddress, { 'with_valid_from': false }) }}#}
{#                {% endif %}#}
{#            </dd>#}

            <h2>Poste occupé</h2>

            <dt>Titre</dt>
            <dd>{{ entity.posteTitle|chill_print_or_message }}</dd>

            <dt>Lieu du poste</dt>
            <dd>{{ entity.posteLieu|chill_print_or_message }}</dd>

            <dt>Dates</dt>
            <dd>Du {{ entity.debutDate|format_date('long') }}
                au {{ entity.getDateEndComputed|format_date('long') }}
                </dd>

            <dt>Horaire</dt>
            <dd>{{ entity.horaire|nl2br }}</dd>

            <h2>Objectifs</h2>

            <dt>Objectifs</dt>
            <dd>
                {% for el in entity.objectifs %}
                    {% if loop.first %}<ul>{% endif %}
                        <li>{{ ('immersion_objectif.' ~ el)|trans }}</li>
                    {% if loop.last %}</ul>{% endif %}
                {% else %}
                    <p class="chill-no-data-statement">Aucun objectif renseigné</p>
                {% endfor %}

                {% if 'autre' in entity.objectifs and entity.objectifsAutre is not empty %}
                <label>Précisions:</label>
                <blockquote class="chill-user-quote">
                    {{ entity.objectifsAutre|nl2br }}
                </blockquote>
                {% endif %}
            </dd>

            <h2>Note</h2>

            <dd>
            {{ entity.noteImmersion|chill_print_or_message('Aucune note') }}
            </dd>

            {% if entity.isBilanFullfilled %}
                <h1>Bilan</h1>

                <h2>Savoir-êtres du jeune</h2>

                <dt>Savoir-être du jeune</dt>
                <dd>
                    {% for el in entity.savoirEtre %}
                        {% if loop.first %}<ul>{% endif %}
                            <li>{{ ('immersion_savoir_etre.' ~ el)|trans }}</li>
                        {% if loop.last %}</ul>{% endif %}
                    {% else %}
                        <p class="chill-no-data-statement">Aucun élément indiqué</p>
                    {% endfor %}

                    {% if entity.savoirEtreNote is not empty %}
                        {{ entity.savoirEtreNote|chill_print_or_message(null, 'blockquote') }}
                    {% endif %}
                </dd>

                {% for line in [
                    ['Ponctualité'],
                    ['ponctualiteSalarie', "Ponctualité du salarié"],
                    ['Assiduité'],
                    ['assiduite', "Assiduité"],
                    ['Intégration'],
                    ['interetActivite', "La personne s’intéresse à l’ensemble des activités et membres de l’entreprise"],
                    ['integreRegle', "La personne a intégré les règles (les principes) de l’entreprise"],
                    ['Autonomie'],
                    ['espritInitiative', "La personne fait preuve d’esprit d’initiative"],
                    ['organisation', "La personne a fait preuve d’organisation"],
                    ['Attitude'],
                    ['capaciteTravailEquipe', "Capacité à travailler à en équipe"],
                    ['Posture professionnelle'],
                    ['styleVestimentaire', 'Style vestimentaire adapté'],
                    ['langageProf', "Langage professionnel"],
                    ['Relation avec la hiérarchie'],
                    ['appliqueConsigne', "Applique les consignes"],
                    ['respectHierarchie', "Respecte les niveaux hiérarchiques"],
                ] %}
                {% if line|length == 1 %}
                <h3>{{ line[0] }}</h3>
                {% else %}

                <dt>{{ line[1] }}</dt>
                <dd>
                    {% set attr = attribute(entity, line[0]) %}
                    {% if attr != null %}
                        {% if attr in constant('Chill\\JobBundle\\Entity\\Immersion::YES_NO_NSP') %}
                        {{ ('immersion_nsp.'~attr)|trans }}
                        {% else %}
                        {{ ('immersion_' ~ line[0] ~ '.' ~ attr)|trans }}
                        {% endif %}
                    {% else %}
                    {{ null|chill_print_or_message("Aucune information") }}
                    {% endif %}
                    {% set note = attribute(entity, (line[0] ~ 'Note')) %}
                    {% if note != null %}
                    {{ note|chill_print_or_message(null, 'blockquote') }}
                    {% endif %}
                </dd>
                {% endif %}
                {% endfor %}

                {% if entity.principalesActivites is not empty
                    or entity.competencesAcquises is not empty
                    or entity.competencesADevelopper is not empty %}
                <h2>Savoir-faire développés</h2>

                {% for el in ['principalesActivites', 'competencesAcquises','competencesADevelopper'] %}
                    {% set data = attribute(entity, el) %}
                    {% if data is not empty %}
                        <dt>{% if el == 'principalesActivites' %}
                            Principales activités
                            {% elseif el == 'competencesAcquises' %}
                            Compétences acquises
                            {% else %}
                            Compétences à développer
                            {% endif %}</dt>
                        <dd>
                            {{ data|chill_print_or_message(null, 'blockquote') }}
                        </dd>
                    {% endif %}
                {% endfor %}

                {% endif %}

                {% if entity.noteBilan is not empty %}
                <h2>Note</h2>

                <dd>
                    {{ entity.noteBilan|chill_print_or_message(null, 'blockquote') }}
                </dd>

                {% endif %}
            {% endif %}
        </dl>
    {% endblock crud_content_view_details %}

    {% block content_view_actions_back %}
        <li class="cancel">
            <a class="btn btn-cancel" href="{{ chill_return_path_or('chill_job_report_index', { 'person': entity.person.id }) }}">
                {{ 'Cancel'|trans }}
            </a>
        </li>
    {% endblock %}
    {% block content_view_actions_after %}
        <li>
            <a class="btn btn-misc" href="{{ chill_return_path_or('chill_crud_immersion_bilan', { 'id': entity.id, 'person_id': entity.person.id }) }}">
                <svg style="height: 1rem;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="graduation-cap" class="svg-inline--fa fa-graduation-cap fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M622.34 153.2L343.4 67.5c-15.2-4.67-31.6-4.67-46.79 0L17.66 153.2c-23.54 7.23-23.54 38.36 0 45.59l48.63 14.94c-10.67 13.19-17.23 29.28-17.88 46.9C38.78 266.15 32 276.11 32 288c0 10.78 5.68 19.85 13.86 25.65L20.33 428.53C18.11 438.52 25.71 448 35.94 448h56.11c10.24 0 17.84-9.48 15.62-19.47L82.14 313.65C90.32 307.85 96 298.78 96 288c0-11.57-6.47-21.25-15.66-26.87.76-15.02 8.44-28.3 20.69-36.72L296.6 284.5c9.06 2.78 26.44 6.25 46.79 0l278.95-85.7c23.55-7.24 23.55-38.36 0-45.6zM352.79 315.09c-28.53 8.76-52.84 3.92-65.59 0l-145.02-44.55L128 384c0 35.35 85.96 64 192 64s192-28.65 192-64l-14.18-113.47-145.03 44.56z"></path></svg>
                Bilan
            </a>
        </li>
    {% endblock %}
{% endembed %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('build/thirdparty_styles.css') }}"/>
{% endblock %}
