<span class="chill-entity entity-user">
    {{- user.label }}
    {%- if opts['user_job'] and user.userJob(opts['at_date']) is not null %}
        <span class="user-job">({{ user.userJob(opts['at_date']).label|localize_translatable_string }})</span>
    {%- endif -%}
    {%- if opts['main_scope'] and user.mainScope(opts['at_date']) is not null %}
    <span class="main-scope">({{ user.mainScope(opts['at_date']).name|localize_translatable_string }})</span>
    {%- endif -%}
    {%- if opts['absence'] and user.isAbsent %}
        <span class="badge bg-danger rounded-pill" title="{{ 'absence.Absent'|trans|escape('html_attr') }}">{{ 'absence.A'|trans }}</span>
    {%- endif -%}
</span>
