{% if menus|length > 0 %}
<li class="dropdown">
    <a class="dropdown-toggle btn btn-sm btn-outline-primary"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="fa fa-flash"></i>
    </a>
    <div class="dropdown-menu">
        {% for menu in menus %}
            <a class="dropdown-item"
                href="{{ menu.uri }}"
                ><i class="fa fa-{{- menu.extras.icon }} fa-fw"></i>
                {{ menu.label|trans }}
            </a>
        {% endfor %}
    </div>
</li>
{% endif %}
