{%- import "@ChillDocStore/Macro/macro.html.twig" as m -%}
<div class="d-inline-flex"
    data-download-buttons
    data-stored-object="{{ document_json|json_encode|escape('html_attr') }}"
    data-can-edit="{{ can_edit ? '1' : '0' }}"
    data-dav-link="{{ dav_link|escape('html_attr') }}"
    data-dav-link-expiration="{{ dav_link_expiration|escape('html_attr') }}"
    {% if options['small'] is defined %}data-button-small="{{ options['small'] ? '1' : '0' }}"{% endif %}
    {% if title|default(document.title)|default(null) is not null %}data-filename="{{ title|default(document.title)|escape('html_attr') }}"{% endif %}></div>
