{% extends '@ChillMain/layout.html.twig' %}

{% block title %}{{ 'workflow.signature.reject_signature_of'|trans({ '%signer%': signature.signer|chill_entity_render_string }) }}{% endblock %}

{% block content %}
    <h1>{{ block('title') }}</h1>

    <p>{{ 'workflow.signature.reject_are_you_sure'|trans({'%signer%': signature.signer|chill_entity_render_string}) }}</p>

    {{ form_start(form) }}
    <ul class="record_actions sticky-form-buttons">
        <li class="cancel">
            <a class="btn btn-cancel" href="{{ chill_return_path_or('chill_main_workflow_show', {'id': signature.step.entityWorkflow.id}) }}">{{ 'Cancel'|trans }}</a>
        </li>
        <li>
            {{ form_widget(form.confirm, {'attr': {'class': 'btn btn-misc'}}) }}
        </li>
    </ul>
    {{ form_end(form) }}
{% endblock %}
