{% if related_accompanying_period is not null %}
    <h2>{{ 'workflow.attachments.title'|trans }}</h2>

    <div data-app="workflow_attachments" data-workflow-id="{{ entity_workflow.id }}" data-related-accompanying-period-id="{{ related_accompanying_period.id }}" data-entity-workflow-id="{{ entity_workflow.id }}" ></div>
{% endif %}
