{% set acl = "1" %}
{# note: the list of available workflows already check that it is possible to create a given workflow #}
{# vue component #}
<div data-list-workflows="1"
    data-workflows="{{ entity_workflows_json|json_encode|e('html_attr') }}"
    data-allow-create="{{ acl }}"
    data-related-entity-class="{{ relatedEntityClass }}"
    data-related-entity-id="{{ relatedEntityId }}"
    data-workflows-availables="{{ workflows_available|json_encode()|e('html_attr') }}"
></div>
