{% extends '@ChillMain/layout.html.twig' %}

{% block title 'workflow.signature_zone.metadata.sign_by'|trans({ '%name%' : person|chill_entity_render_string}) %}

{% block content %}
<div class="col-10 workflow">
    <h1 class="mb-5">{{ block('title') }}</h1>

    {% if metadata_form is not null %}
        {{ form_start(metadata_form) }}
        {{ form_row(metadata_form.documentType) }}
        {{ form_row(metadata_form.documentNumber) }}
        {{ form_row(metadata_form.expirationDate) }}
        <ul class="record_actions">
            <li>
            {{ form_widget(metadata_form.submit, { 'attr' : { 'class' : 'btn btn-submit' }} ) }}
            </li>
        </ul>
        {{ form_end(metadata_form) }}
    {% endif %}
</div>
{% endblock %}
