<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}" type="image/x-icon">
    <title>Signature</title>

    {{ encore_entry_link_tags('mod_bootstrap') }}
    {{ encore_entry_link_tags('mod_forkawesome') }}
    {{ encore_entry_link_tags('chill') }}
    {{ encore_entry_link_tags('vue_document_signature') }}

</head>

<body>

    {% block js %}
        {{ encore_entry_script_tags('mod_document_action_buttons_group') }}
        <script type="text/javascript">
            window.signature = {{ signature|json_encode|raw }};
        </script>
        {{ encore_entry_script_tags('vue_document_signature') }}
    {% endblock %}

    <div class="content" id="content">
        <div class="row">
            <div class="col-12 m-auto">
                <div class="row" id="document-signature"></div>
            </div>
        </div>
    </div>
</body>
</html>