{%- if is_dest -%}
Un suivi {{ workflow.text }} demande votre attention: {{ title }}
{%- else -%}
Un suivi {{ workflow.text }} a atteint une nouvelle étape: {{ place.text }}: {{ title }}
{%- endif -%}
