<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" >
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>{% block title %}{% endblock %}</title>
    {% block head_custom %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}" type="image/x-icon">

    {{ encore_entry_link_tags('mod_bootstrap') }}
    {{ encore_entry_link_tags('mod_forkawesome') }}
    {{ encore_entry_link_tags('chill') }}

    {% block css %}{% endblock %}
</head>

<body>

<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-md">
        <div class="container-xxl">

            <div class="col-4">
                <a class="navbar-brand" href="{{ path('chill_main_homepage') }}">
                    {{ include('@ChillMain/Layout/_header-logo.html.twig') }}
                </a>
            </div>

            <div class="col-8"></div>
        </div>
    </nav>
</header>

<div class="content" id="content">
    <div class="container-xxl">
        <div class="row justify-content-center my-5">
            <div>
                {% block public_content %}{% endblock %}
            </div>
            <div style="margin-top: 1rem;">
                <p>
                    {{ 'workflow.public_link.shared_explanation_until_remaining'|trans({'expireAt': send.expireAt, 'viewsCount': metadata.viewsCount, 'viewsRemaining': metadata.viewsRemaining}) }}
                </p>
            </div>
        </div>
    </div>
</div>

{{ include('@ChillMain/Layout/_footer.html.twig', {'public_page': true}) }}

{{ encore_entry_script_tags('mod_bootstrap') }}
{{ encore_entry_script_tags('mod_forkawesome') }}
{{ encore_entry_script_tags('chill') }}

{% block js %}{% endblock %}
</body>
</html>
