<!doctype html>
<html>
<body>
{%- set previous = send.entityWorkflowStepChained.previous -%}
{%- if previous.transitionBy is not null -%}
    {%- set sender = previous.transitionBy|chill_entity_render_string -%}
{%- else -%}
    {%- set sender = 'workflow.send_external_message.sender_system_user'|trans -%}
{%- endif -%}
<script type="application/ld+json">
    {%- set data = {
        "@context": "http://schema.org",
        "@type": "EmailMessage",
        "potentialAction": {
            "@type": "ViewAction",
            "url": absolute_url(path('chill_main_workflow_send_view_public', {'uuid': send.uuid, 'verificationKey': send.privateToken})),
            "name": 'workflow.send_external_message.see_docs_action_name'|trans
        },
        "description": 'workflow.send_external_message.see_doc_action_description'|trans({'sender': sender}),
    } -%}
    {{- data|json_encode|raw -}}
</script>
<div
    style='background-color:#F5F5F5;color:#262626;font-family:"Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;font-size:16px;font-weight:400;letter-spacing:0.15008px;line-height:1.5;margin:0;padding:32px 0;min-height:100%;width:100%'
>
    <table
        align="center"
        width="100%"
        style="margin:0 auto;max-width:600px;background-color:#FFFFFF"
        role="presentation"
        cellspacing="0"
        cellpadding="0"
        border="0"
    >
        <tbody>
        <tr style="width:100%">
            <td>
                <div style="font-weight:normal;padding:16px 24px 16px 24px">
                    {{ 'workflow.send_external_message.greeting'|trans }},
                </div>
                <div style="font-weight:normal;padding:16px 24px 16px 24px">
                    {{ 'workflow.send_external_message.explanation'|trans({'sender': sender}) }}
                </div>
                <div style="font-weight:normal;padding:16px 24px 16px 24px">
                    {{ 'workflow.send_external_message.confidentiality'|trans }}
                </div>
                <div style="text-align:center;padding:16px 24px 16px 24px">
                    <a
                        href="{{ absolute_url(path('chill_main_workflow_send_view_public', {'uuid': send.uuid, 'verificationKey': send.privateToken})) }}"
                        style="color:#FFFFFF;font-size:16px;font-weight:bold;background-color:#334d5c;border-radius:4px;display:inline-block;padding:12px 20px;text-decoration:none"
                        target="_blank"
                    ><span
                        ><!--[if mso
                      ]><i
                        style="letter-spacing: 20px;mso-font-width:-100%;mso-text-raise:30"
                        hidden
                        >&nbsp;</i
                      ><!
                    [endif]--></span
                        ><span>
                            {{ 'workflow.send_external_message.button_content'|trans({'sender': sender}) }}
                        </span><span
                        ><!--[if mso
                      ]><i
                        style="letter-spacing: 20px;mso-font-width:-100%"
                        hidden
                        >&nbsp;</i
                      ><!
                    [endif]--></span
                        ></a
                    >
                </div>
                <div style="font-weight:normal;padding:16px 24px 16px 24px">
                    {{ 'workflow.send_external_message.document_available_until'|trans({ 'expiration': send.expireAt}, null, lang) }}
                </div>
                <div style="font-weight:normal;padding:16px 24px 16px 24px">
                    {{ 'workflow.send_external_message.or_see_link'|trans }}&nbsp;:
                </div>
                <div style="font-size:16px;padding:16px 24px 16px 24px">
                    <code>{{ absolute_url(path('chill_main_workflow_send_view_public', {'uuid': send.uuid, 'verificationKey': send.privateToken})) }}</code>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
