<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ 'workflow.public_link.expired_link_title'|trans }}</title>
</head>
<body>
    <h1>{{ 'workflow.public_link.expired_link_title'|trans }}</h1>

    <p>{{ 'workflow.public_link.expired_link_explanation'|trans }}</p>
</body>
</html>
