{% macro render(p, withLink=true, withClosingInfo=false) %}{% apply spaceless %}
<span class="entity entity-person person-person">
  {% if withLink %}
    <a href="{{ path('chill_person_view', { 'person_id' : p.id } ) }}">
  {% endif %}
  {{ p.firstName }}&nbsp;{{ p.lastName }}
  {% if withClosingInfo %}
    {% if chill_person.fields.accompanying_period == 'visible' %}
      {% set is_open = p.isOpen() %}
      {% if is_open == false %}
        <i class="fa fa-folder" ></i>
      {% else %}
        <i class="fa fa-folder-open" ></i>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if withLink %}</a>{% endif %}
</span>{% endapply %}
{% endmacro %}
