{% extends "@ChillPerson/Person/layout.html.twig"  %}

{% set person = entity.person %}
{% set activeRouteKey = '' %}

{% block title %}
{% include('@ChillMain/CRUD/_edit_title.html.twig') %}
{% endblock title %}

{% form_theme form _self %}
{% block job_bundle_cv_formation_widget %}
    <div data-formation-entry>
        {{ form_row(form.title) }}
        {{ form_row(form.organisme) }}
        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        <div data-diploma-obtained>
            {{ form_row(form.diplomaObtained) }}
        </div>
        <div data-diploma-reconnue>
            {{ form_row(form.diplomaReconnue) }}
        </div>
    </div>

{% endblock %}

{% block content %}
{% embed '@ChillMain/CRUD/_edit_content.html.twig' %}
    {% block crud_content_form_rows %}




        {{ form_row(form.reportDate) }}
        {{ form_row(form.formationLevel) }}
        {{ form_row(form.formationType) }}
        {{ form_row(form.spokenLanguages) }}

        <h2>Formations</h2>
        {{ form_widget(form.formations) }}

        <h2>Expériences</h2>
        {{ form_widget(form.experiences) }}

        <h2>Notes</h2>
        {{ form_widget(form.notes) }}
    {% endblock crud_content_form_rows %}

    {% block content_form_actions_back %}
        <li class="cancel">
            <a class="btn btn-cancel" href="{{ chill_return_path_or('chill_job_report_index', {'person': entity.person.id}) }}">
                {{ 'Cancel'|trans }}
            </a>
        </li>
    {% endblock %}
{% endembed %}
{% endblock %}

{% block css %}
    <script type="text/javascript" src="{{ asset('build/cs_cv.js') }}"></script>
{% endblock css %}
