<script setup lang="ts">
import {
  ResultItem,
  UserGroup,
} from "../../../../../../ChillMainBundle/Resources/public/types";
import BadgeEntity from "ChillMainAssets/vuejs/_components/BadgeEntity.vue";
import UserRenderBoxBadge from "ChillMainAssets/vuejs/_components/Entity/UserRenderBoxBadge.vue";
import UserGroupRenderBox from "ChillMainAssets/vuejs/_components/Entity/UserGroupRenderBox.vue";

interface TypeUserGroupProps {
  item: ResultItem<UserGroup>;
}

const props = defineProps<TypeUserGroupProps>();
</script>

<template>
  <div class="container user-group-container">
    <div class="user-group-identification">
      <user-group-render-box
        :user-group="props.item.result"
      ></user-group-render-box>
    </div>
  </div>
  <div class="right_actions">
    <span class="badge rounded-pill bg-user-group"> Groupe d'utilisateur </span>
  </div>
</template>

<style scoped lang="scss"></style>
