<div class="alert alert-warning alert-with-actions">
    <div class="float-button bottom">
        <div class="box">
            {% if is_granted('CHILL_PERSON_ACCOMPANYING_PERIOD_UPDATE', accompanyingCourse) %}
            <div class="action">
                <ul class="record_actions">
                    <li>
                        <a class="btn btn-sm btn-update change-icon"
                        href="{{ path('chill_person_accompanying_course_edit', { 'accompanying_period_id': accompanyingCourse.id, '_fragment': 'section-10' }) }}">
                            <i class="fa fa-fw fa-crosshairs"></i>
                            {{ 'fix it'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
            {% endif %}

            <p>{{ 'Some peoples does not belong to any household currently. Add them to an household soon'|trans }}</p>
        </div>
    </div>
</div>
