{% extends '@ChillMain/CRUD/Admin/index.html.twig' %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('mod_pickentity_type') }}
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('mod_pickentity_type') }}
{% endblock %}

{% block title %}
    {% include('@ChillMain/CRUD/_edit_title.html.twig') %}
{% endblock %}

{% block admin_content %}
    {% embed '@ChillMain/CRUD/_edit_content.html.twig' %}
        {% block content_form_actions_save_and_show %}{% endblock %}
    {% endembed %}
{% endblock admin_content %}
