{% extends '@ChillMain/CRUD/Admin/index.html.twig' %}

{% block admin_content %}
    {% embed '@ChillMain/CRUD/_index.html.twig' %}
        {% block table_entities_thead_tr %}
            <th>{{ 'Id'|trans }}</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Ordering'|trans }}</th>
            <th>{{ 'goal.desactivationDate'|trans }}</th>
            <th>&nbsp;</th>
        {% endblock %}

        {% block table_entities_tbody %}
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>
                    {{ entity|chill_entity_render_box }}
                </td>
                <td>{{ entity.ordering }}</td>
                <td>
                {% if entity.desactivationDate is not null %}
                    {{ entity.desactivationDate|date('Y-m-d') }}
                {% endif %}
                </td>
                <td>
                    <ul class="record_actions">
                        <li>
                            <a href="{{ chill_path_add_return_path('chill_crud_social_issue_edit', { 'id': entity.id }) }}" class="btn btn-edit"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        {% endblock %}

        {% block actions_before %}
            <li>
                <a href="{{ path('chill_person_social_issue_export_list') }}" class="btn btn-download"></a>
            </li>
            <li class='cancel'>
                <a href="{{ path('chill_main_admin_central') }}" class="btn btn-cancel">{{'Back to the admin'|trans}}</a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}
