{% extends '@ChillMain/layout.html.twig' %}

{% block content %}
    <div class="alert alert-danger">
        {{ 'docgen.Doc generation failed'|trans }}
    </div>

    <ul class="sticky-form-buttons record_actions">
        <li class="cancel">
            <a href="{{ chill_return_path_or('chill_main_homepage') }}" class="btn btn-cancel">
                {{ 'Cancel'|trans|chill_return_path_label }}
            </a>
        </li>
    </ul>
{% endblock %}
