{% extends '@ChillMain/layout.html.twig' %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('mod_document_action_buttons_group') }}
{% endblock %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('mod_document_action_buttons_group') }}
{% endblock %}

{% block content %}
    <div class="alert alert-danger text-center">
        <div>
            <p>
                {{ 'wopi_editor.document unsupported for edition'|trans }}
            </p>
        </div>

        <div>
            <p>{{ document|chill_document_button_group(document.title|default('Document'), false) }}</p>
        </div>

    </div>

    <ul class="sticky-form-buttons record_actions">
        <li class="cancel">
            <a href="{{ chill_return_path_or('chill_main_homepage') }}" class="btn btn-cancel">
                {{ 'Cancel'|trans|chill_return_path_label }}
            </a>
        </li>
    </ul>
{% endblock content %}
