{% extends "@ChillPerson/Person/layout.html.twig"  %}

{% set person = entity.person %}
{% set activeRouteKey = '' %}

{% block title %}
{% embed('@ChillPerson/CRUD/_new_title.html.twig') %}{% endembed %}
{% endblock %}

{% block content %}
{% embed '@ChillMain/CRUD/_new_content.html.twig' %}
    {% block crud_content_header %}
        <h1>{{ ('crud.'~crud_name~'.title_new')|trans({'%person%': person|chill_entity_render_string }) }}</h1>
    {% endblock crud_content_header %}

    {% block crud_content_form_rows %}
        {{ form_row(form.reportDate) }}

        <h2>Orientation souhaitée</h2>

        {{ form_row(form.souhait) }}
        {{ form_row(form.domaineActiviteSouhait) }}

        {{ form_row(form.typeContrat) }}
        {{ form_row(form.typeContratNotes) }}

        {{ form_row(form.volumeHoraire) }}
        {{ form_row(form.volumeHoraireNotes) }}

        <h2>Projet professionnel</h2>

        {{ form_row(form.idee) }}
        {{ form_row(form.enCoursConstruction) }}

        {{ form_row(form.valide) }}
        {{ form_row(form.domaineActiviteValide) }}
        {{ form_row(form.valideNotes) }}

        <h2>Notes</h2>

        {{ form_widget(form.projetProfessionnelNote) }}
    {% endblock %}

    {% block content_form_actions_back %}
        <li class="cancel">
            <a class="btn btn-cancel" href="{{ chill_return_path_or('chill_job_report_index', {'person': entity.person.id}) }}">
                {{ 'Cancel'|trans }}
            </a>
        </li>
    {% endblock %}
{% endembed %}
{% endblock %}
