// override dropzone from dropzoneJS
.dropzone {
    margin-bottom: 0.5rem;

    .dz-preview {
        display: initial;
        margin-left: auto;
        margin-right: auto;

        .dz-image {
            margin-left: auto;
            margin-right: auto;
        }

        .dz-details, .dz-progress, .dz-success-mark, .dz-error-mark {
            position: initial;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.chill-dropzone__below-zone {

    display: flex;
    
    & > *:not(:last-child) {
        margin-right: 1rem;
    }
    
    .sc-button.dz-bt-below-dropzone {
        width: 100%;
    }
}
