/*
 *  CHILL Theme colors
*/

//// CHILL OVERRIDE DEFAULT BOOTSTRAP COLORS VARIABLES

$white:    #fff;
$gray-100: #f3f3f3;
$gray-200: #e6e6e6;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #b2b2b2;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #2c2d2f;
$gray-900: #212529;
$black:    #111;

// override main colors
// don't use indigo, purple, teal
// add 'beige'
$blue:        #334d5c;
$green:       #43b29d;
$yellow:      #eec84a;
$orange:      #e2793d;
$red:         #df4949;
$pink:        #dd506d;
$beige:       #cabb9f;

$primary:       $blue;
$secondary:     $gray-500;
$success:       $green;
$info:          $yellow;
$warning:       $orange;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;
$black:         $black;


//// CHILL OVERRIDE DEFAULT BOOTSTRAP VARIABLES

$border-radius: .25rem;  //.25rem !default;
$font-family-sans-serif: 'Open Sans'; //system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-size-base-chill: 1rem; //$font-size-base: 1rem !default;
$h1-font-size: $font-size-base-chill * 2.0; //$font-size-base * 2.5 !default;
$h2-font-size: $font-size-base-chill * 1.5; //$font-size-base * 2 !default;
$h3-font-size: $font-size-base-chill * 1.25; //$font-size-base * 1.75 !default;
$h4-font-size: $font-size-base-chill * 1.15; //$font-size-base * 1.5 !default;
$h5-font-size: $font-size-base-chill * 1.05; //$font-size-base * 1.25 !default;

$headings-font-weight: 600; //500 !default;

$table-striped-bg-factor: .10; //.05 !default;
$table-active-bg-factor: .15; //.1 !default;
$table-hover-bg-factor: .125; //.075 !default;
$table-border-factor: .15; //.1 !default;

$btn-border-radius: 0; //$border-radius !default;
$btn-border-radius-sm: 0; //$border-radius-sm !default;
$btn-border-radius-lg: 0; //$border-radius-lg !default;

$alert-border-radius: 0; //$border-radius !default;
$alert-border-width: 0; //$border-width !default;