<h1 class="mt-5"><a id="notification-list"></a>{{ 'notification.Notifications'|trans }}</h1>

<div class="flex-table accordion accordion-flush" id="notification-fold">
    {% for notification in notifications %}
        {% include '@ChillMain/Notification/_list_item.html.twig' with {
            'full_content': true,
            'fold_item': true,
            'action_button': true,
        } %}{#
    #}
    {% endfor %}
</div>
