{% import "@ChillDocStore/Macro/macro.html.twig" as m %}
{% import "@ChillDocStore/Macro/macro_mimeicon.html.twig" as mm %}
{% import '@ChillPerson/Macro/updatedBy.html.twig' as mmm %}

{% set c = document.calendar %}

<div class="item-bloc">
    {{ include('@ChillCalendar/GenericDoc/calendar_document_row.html.twig') }}
</div>
