{% import '@ChillPerson/Person/macro.html.twig' as person_macro %}

{% if ignored_participations|length > 0 %}
    <p>{{ 'ignored_participations'|trans({'count': ignored_participations|length}) }}:</p>
    <ul>
        {% for p in ignored_participations %}
            <li>{{ person_macro.render(p.person) }}</li>
        {% endfor %}
    </ul>
{% endif %}
