{% extends '@ChillMain/Admin/layoutWithVerticalMenu.html.twig' %}

{% block admin_content %}
    <h1>{{ 'ActivityReasonCategory'|trans }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ entity.name|localize_translatable_string }}</td>
            </tr>
            <tr>
                <th>{{ 'Active'|trans }}</th>
                <td>
                    {%- if entity.active -%}
                        {{ 'ActivityReasonCategory is active and will be proposed'|trans }}
                    {%- else -%}
                        {{ "ActivityReasonCategory is inactive and won't be proposed"|trans }}
                    {%- endif -%}
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="record_actions sticky-form-buttons">
        <li class="cancel">
            <a href="{{ path('chill_activity_activityreasoncategory') }}" class="btn btn-cancel">
                {{ 'Back to the list'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('chill_activity_activityreasoncategory_edit', { 'id': entity.id }) }}" class="btn btn-edit">
                {{ 'Edit'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}
