/// CHILL ENTITY RENDER BOX
.chill-entity {

    /// PERSON
    &.entity-person {
        span.firstname,
        span.lastname,
        span.altname {}
    }

    /// SOCIAL-ISSUE AND SOCIAL-ACTION
    &.entity-social-issue,
    &.entity-social-action {
        margin-right: 0.3em;
        font-size: 120%;
        span.badge {
            // for too long badge in a narrow inside block
            text-align: initial;
            margin-bottom: 0.2em;
            > span {
                white-space: normal;
            }
        }
    }
    &.entity-social-issue {
        span.badge {
            @include badge_social($social-issue-color);
        }
    }
    &.entity-social-action {
        span.badge {
            @include badge_social($social-action-color);
        }
    }
}
