{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends layout %}

{% set activeRouteKey = 'chill_task_single_task_new' %}

{% block title %}
	{{ 'Task list'|trans }}
{% endblock %}

{% macro thead() %}{% endmacro %}

{% macro row(task) %}{% endmacro %}

{% block filtertasks %}
	{% if person is not null %}
		{% block content %}
			<div class="tasks">
				{% include '@ChillTask/SingleTask/Person/list.html.twig' %}

			</div>
		{% endblock %}
	{% else %}
		{% block content %}
			<div class="col-md-10 col-xxl tasks">
				{% include '@ChillTask/SingleTask/AccompanyingCourse/list.html.twig' %}

			</div>
		{% endblock %}
	{% endif %}
{% endblock %}
