<script setup lang="ts">
import { GenericDocForAccompanyingPeriod } from "ChillDocStoreAssets/types/generic_doc";

interface GenericDocItemBoxProps {
    genericDoc: GenericDocForAccompanyingPeriod;
}

const props = defineProps<GenericDocItemBoxProps>();
</script>

<template>
    <div
        v-if="'html' in props.genericDoc.metadata"
        v-html="props.genericDoc.metadata.html"
    ></div>
</template>

<style scoped lang="scss"></style>
