<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a href="{{ chill_path_forward_return_path('chill_main_export_index') }}" class="nav-link {% if current == 'common' %}active{% endif %}">
            {{ 'Exports list'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ chill_path_forward_return_path('chill_main_export_saved_list_my') }}" class="nav-link {% if current == 'my' %}active{% endif %}">
            {{ 'saved_export.My saved exports'|trans }}
        </a>
    </li>
</ul>