{%- macro details(person, options) -%}

<ul>
    <li><b>{{ 'gender'|trans }}</b>:
        {{ person.gender.label|localize_translatable_string }}</li>
    <li><b>{{ 'maritalStatus'|trans }}</b>:
        {% if person.maritalStatus %}{{ person.maritalStatus.name|localize_translatable_string }}{% endif %}</li>
    <li><b>{{ 'birthdate'|trans }}</b>:
        {% if person.birthdate is not null %}{{ person.birthdate|format_date('short') }}{% endif %}</li>
    <li><b>{{ 'placeOfBirth'|trans }}</b>:
        {% if person.placeOfBirth is not empty %}{{ person.placeOfBirth }}{% endif %}</li>
    <li><b>{{ 'countryOfBirth'|trans }}</b>:
        {% if person.countryOfBirth %}{{ person.countryOfBirth.name|localize_translatable_string }}{% endif %}</li>
    <li><b>{{ 'nationality'|trans }}</b>:
        {% if person.nationality %}{{ person.nationality.name|localize_translatable_string }}{% endif %}</li>
    <li><b>{{ 'phonenumber'|trans }}</b>:
        {{ person.phonenumber }}</li>
    <li><b>{{ 'mobilenumber'|trans }}</b>:
        {{ person.mobilenumber }}</li>
    <li><b>{{ 'email'|trans }}</b>:
        {{ person.email }}</li>
    <li><b>{{ 'memo'|trans }}</b>:
        {{ person.memo }}</li>
    <li><b>{{ 'address'|trans }}</b>:
        {%- if person.lastAddress is not empty -%}
            {{ person.lastAddress|chill_entity_render_box({'with_valid_from': false}) }}
        {% endif %}</li>
    <li><b>{{ 'spokenLanguages'|trans }}</b>:
        {% for lang in person.spokenLanguages %}{{ lang.name|localize_translatable_string }}{% if not loop.last %},{% endif %}{% endfor %}</li>
    <li><b>{{ 'contactInfo'|trans }}</b>:
        {% if person.contactInfo is not empty %}{{ person.contactInfo|nl2br }}{% endif %}</li>

</ul>
{% endmacro %}

{%- macro links(person, options) -%}
<ul>

    <li><b>{{ person.counters.nb_activity }}</b> {{ (person.counters.nb_activity > 1)? 'échanges' : 'échange' }}</li>
    <li><b>{{ person.counters.nb_task }}</b> {{ (person.counters.nb_task > 1)? 'tâches' : 'tâche' }}</li>
    <li><b>{{ person.counters.nb_document }}</b> {{ (person.counters.nb_document > 1)? 'documents' : 'document' }}</li>
{#    <li><b>{{ person.counters.nb_event }}</b> {{ (person.counters.nb_event > 1)? 'événements' : 'événement' }}</li>#}
    <li><b>{{ person.counters.nb_addresses }}</b> {{ (person.counters.nb_addresses > 1)? 'adresses' : 'adresse' }}</li>

</ul>
{% endmacro %}
