{% extends "@ChillPerson/Person/layout.html.twig"  %}

{% set activeRouteKey = 'chill_person_duplicate' %}

{% block title %}{{ 'Find duplicate'|trans|capitalize ~ ' ' ~ person.firstName|capitalize ~
' ' ~ person.lastName }}{% endblock %}


{% block content %}
<div class="person-duplicate">

            <h1>{{ 'Désigner un dossier doublon'|trans }}</h1>

            {{ form_start(form) }}
            {{ form_rest(form) }}

            <ul class="record_actions sticky-form-buttons">
                <li class="cancel">
                    <a href="{{ path('chill_person_duplicate_view',  {'person_id' : person.id}) }}" class="btn btn-cancel">
                        {{ 'Return'|trans }}
                    </a>
                </li>
                <li>
                    <button class="btn btn-save" type="submit">{{ 'Next'|trans }}</button>
                </li>
            </ul>

            {{ form_end(form) }}

</div>
{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('mod_pickentity_type') }}
{% endblock %}

{% block css %}
    {{ encore_entry_link_tags('mod_pickentity_type') }}
{% endblock %}
