.accordion {
    // show a folded / label on accordion
    button[aria-expanded="true"] > span.folded,
    button[aria-expanded="false"] > span.unfolded { display: none; }
    button[aria-expanded="false"] > span.folded,
    button[aria-expanded="true"] > span.unfolded { display: inline; }

    .accordion-item {
        margin-bottom: 1rem;
    }
}
