{% set reversed_parents = parents|reverse %}
<span
	class="chill-entity entity-aside_activity-category">
	{%- for p in reversed_parents %}
		<span class="parent-{{ loop.revindex0 }}">
			{{ p.title|localize_translatable_string }}{{ options['default.separator'] }}
		</span>
	{%- endfor -%}
	<span class="child">
		{{ asideActivityCategory.title|localize_translatable_string }}
	</span>
</span>
