{% macro recordAction(activity) %}
    <li>
        <a href="{{ path('chill_activity_activity_show', {'id': activity.id }) }}"
           class="btn btn-show" title="{{ 'Show the activity'|trans }}"></a>
    </li>
{% endmacro %}

{% if activity is not null %}
    <div class="flex-table">
        {% if is_granted('CHILL_ACTIVITY_SEE', activity) %}
            {% include '@ChillActivity/Activity/_list_item.html.twig' with {
                'recordAction': _self.recordAction(activity),
                'context': 'accompanyingCourse',
                'itemBlocClass': 'bg-chill-llight-gray'
            } %}
        {% else %}
            <div class="alert alert-warning border-warning border-1">
                {{ 'This is the minimal activity data'|trans ~ ': ' ~ activity.id }}<br>
                {{ 'you are not allowed to see it details'|trans }}
            </div>
        {% endif %}
    </div>
{% else %}
    <div class="alert alert-warning border-warning border-1">
        {{ 'You get notified of an activity which does not exists any more'|trans }}
    </div>
{% endif %}
