Ce rendez-vous a été généré automatiquement par Chill.

Pour modifier ou supprimer ce rendez-vous, utilisez l’adresse suivante:

{{ absolute_url(path('chill_calendar_calendar_edit', {'id': calendar.id, '_locale': 'fr'})) }}

{{ calendar.comment.comment|nl2br }}

Usagers et tiers concernés:

{% for p in calendar.persons %}
- {{ p|chill_entity_render_string }}
{%- endfor -%}
{% for t in calendar.professionals %}
- {{ t|chill_entity_render_string }}
{% endfor %}
