    {% set formId = crudMainFormId|default('crud_main_form') %}

    {% block crud_content_header %}
        <h1 class="mb-5">{{ ('crud.'~crud_name~'.title_edit')|trans }}</h1>
    {% endblock crud_content_header %}

    {% block crud_content_form %}
        {{ form_start(form, { 'attr' : { 'id': formId } } ) }}

        {% block crud_content_form_rows %}
        {% for f in form %}
        {{ form_row(f) }}
        {% endfor %}
        {% endblock crud_content_form_rows %}

        {{ form_end(form) }}

        {% block crud_content_after_form %}{% endblock %}

        {% block crud_content_form_actions %}
        <ul class="record_actions sticky-form-buttons">
            {% block content_form_actions_back %}
                <li class="cancel">
{#                    <a class="btn btn-cancel" href="{{ chill_return_path_or('chill_crud_'~crud_name~'_index') }}">#}
{#                        {{ 'Cancel'|trans }}#}
{#                    </a>#}
                </li>
            {% endblock %}
            {% block content_form_actions_before %}{% endblock %}
            {% block content_form_actions_delete %}
                {% if chill_crud_action_exists(crud_name, 'delete') %}
                {% if is_granted(chill_crud_config('role', crud_name, 'delete'), entity) %}
                <li class="">
                    <a class="btn btn-small btn-delete" href="{{ chill_path_add_return_path('chill_crud_'~crud_name~'_delete', { 'id': entity.id }) }}"></a>
                </li>
                {% endif %}
                {% endif %}
            {% endblock content_form_actions_delete %}
            {% block content_form_actions_view %}
                {% if chill_crud_action_exists(crud_name, 'view') %}
                {% if is_granted(chill_crud_config('role', crud_name, 'view'), entity) %}
                <li class="">
                    <a class="btn btn-small btn-show" href="{{ chill_path_forward_return_path('chill_crud_'~crud_name~'_view', { 'id': entity.id }) }}"></a>
                </li>
                {% endif %}
                {% endif %}
            {% endblock content_form_actions_view %}
            {% block content_form_actions_save_and_close %}
                <li class="">
                    <button type="submit" name="submit" value="save-and-close" class="btn btn-update" form="{{ formId }}">
                        {{ 'crud.edit.save_and_close'|trans }}
                    </button>
                </li>
            {% endblock %}
            {% block content_form_actions_save_and_show %}
                <li class="">
                    <button type="submit" name="submit" value="save-and-show" class="btn btn-update" form="{{ formId }}">
                        {{ 'crud.edit.save_and_show'|trans }}
                    </button>
                </li>
            {% endblock %}
            {% block content_form_actions_after %}{% endblock %}
        </ul>
        {% endblock %}

    {% endblock %}

