<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Directory for {{ stored_object.uuid }}</title>
</head>
<body>
<ul>
    <li><a href="{{ absolute_url(path('chill_docstore_dav_document_get', {'uuid': stored_object.uuid, 'access_token': access_token })) }}">d</a></li>
</ul>
</body>
</html>
