{% extends "@ChillMain/Admin/layoutWithVerticalMenu.html.twig" %}

{% block vertical_menu_content %}
    {{ chill_menu('admin_thirdparty', {
        'layout': '@ChillMain/Admin/menu_admin_section.html.twig'
    }) }}
{% endblock %}

{% block layout_wvm_content %}
    {% block admin_content %}<!-- block content empty -->
        <h1>{{ 'Third party configuration' |trans }}</h1>
        <div>
            <p>{{ 'admin.export_description'|trans }}</p>
            <a href="{{ path('chill_thirdparty_admin_export_list') }}" class="btn btn-download"></a>
        </div>
    {% endblock %}
{% endblock  %}
