{% macro show_comment(comment, options) %}
    <div class="item-bloc">
        <div class="item-row">
            <div>
                {% if options.pinned is defined %}
                    <i class="fa fa-flag fa-fw fa-lg" title="{{ 'pinned'|trans }}"></i>
                {% endif %}
                <a id="comment-{{ comment.id }}" href="{{ '#comment-' ~ comment.id }}" class="fa fa-pencil-square-o fa-fw"></a>

                {{ 'by'|trans }}
                <span class="badge-user">{{ comment.createdBy|chill_entity_render_box({'at_date': comment.createdAt }) }}</span>{{ ', '  ~ 'on'|trans ~ ' ' ~ comment.createdAt|format_date('long') }}<br>
                <i>{{ 'Last updated on'|trans ~ ' ' ~ comment.updatedAt|format_datetime('long', 'short') }}</i>
            </div>
            <ul class="record_actions">
                {{ options.recordAction }}
            </ul>
        </div>
        <div class="item-row separator">
            <blockquote class="chill-user-quote col">{{ comment.content|chill_markdown_to_html }}</blockquote>
        </div>
    </div>
{% endmacro %}
