ul.calendar-list {
    list-style-type: none;
    padding: 0;
    & > li {
        display: inline-block;
    }
    & > li:nth-child(n+2) {
        margin-left: 0.25rem;
    }
}

div.calendar-list {

    ul.calendar-list {
        display: inline-block;
    }

    & > a.calendar-list__global {
        display: inline-block;;
        padding: 0.2rem;
        min-width: 2rem;
        border: 1px solid var(--bs-chill-blue);
        border-radius: 0.25rem;
        text-align: center;
    }
}
